
.title
    {
        font-size: 40px;
        margin-bottom: 21px;
    }
    .list-title
    {
        font-size: 25px;
        margin-bottom: 10px;
    }
    .list
    {
        list-style-type:none;
        font-size: 20px;
    }
    .image
    {
        height:430px;
        img
        {
        height: 430px;
        width: 100%;
        }
    }